/* CSS files add styling rules to your content */

body {
  font-family: 'Questrial', sans-serif;
  margin: 2em;

}

h1 {
  font-family: 'Merriweather', serif;
  font-style: bold;
  color: #80604D;
}
h2 {
  font-family: 'Merriweather', serif;
  font-style: none;
  color: #80604D;
}
h3 {
  font-family: 'Merriweather', serif;
  font-style: none;
  color: #80604D;
}
h4 {
  font-family: 'Merriweather', serif;
  font-style: none;
  color: white;
}
* {
  box-sizing: border-box;
}
img1 {
  border: 2px solid #80604D;
}







/* unvisited link */
a:link {
  color: #80604D;
}

/* visited link */
a:visited {
  color: 	#D3D3D3;
}

/* mouse over link */
a:hover {
  color: #bfb8b4;
}

/* selected link */
a:active {
  color: #f2d3ef;
}

a:link {
  text-decoration: none
  padding: 14px 25px;
}
body {
  background: #555;
}

.content {
  max-width: 700px;
  margin: auto;
  background: #f5ebe6;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #826a4e;
} 

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #593101;
}

body { 
  margin: 0;
  
}

#header {
  background-color: #826a4e;
  padding: 50px 10px;
  color: black;
  text-align: center;
  font-size: 60px; 
  font-weight: bold;
  position: none;
  top: 1;
  width: 100%;
  transition: 0.2s;
}

.responsive {
  max-width: 100%;
  height: auto;
}
p.ex1 {
  margin-bottom: 40%;
}

footer {
  background-color: #826a4e;
  padding: 10px;
  text-align: center;
  color: white;
}

* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 80%;
  padding: 50px;
  
}

#box {
  color: #f5ebe6;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
